*{
    padding:0;
    margin:0;
}
body{
  background-size:cover ;
}

header{
    background-color:blue;
    height: 5em;
}

img{
    margin-left: 5%;
    margin-top: 10px;
    width:200px;
    height:60px;
}
header h1{
  float: right;
  padding-right: 35%;
  color: white;
  padding-top: 25px;
}

/* form */
.login{
  float: right;
  border: 2px solid red;
  background-color:burlywood;
  height: 20em;
  margin-top: 8%;
  margin-right: 4%;
  padding: 30px;
  /* width: 20%; */
}

.login h2{
  text-align: center;
  color: black;
}

.login input{
  height: 1.5em;
}
.login #submit{
  width: 100%;
  height:"1.8em";
  color: white;
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
}
footer{
  background-color: black;
  color: white;
  height: 2em;
  margin-top: 40%;
}
footer p{
  text-align: center;
  padding-top: 5px;
}
